@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: var(--mui-palette-background-paper);
  --foreground: var(--mui-palette-text-primary);
  --card: var(--mui-palette-background-paper);
  --card-foreground: var(--mui-palette-text-primary);
  --popover: var(--mui-palette-background-paper);
  --popover-foreground: var(--mui-palette-text-primary);
  --primary: var(--mui-palette-primary-main);
  --primary-foreground: var(--mui-palette-primary-contrastText);
  --secondary: var(--mui-palette-secondary-main);
  --secondary-foreground: var(--mui-palette-secondary-contrastText);
  --muted: var(--mui-palette-background-paper);
  --muted-foreground: var(--mui-palette-text-secondary);
  --accent: var(--mui-palette-tertiary-main);
  --accent-foreground: var(--mui-palette-tertiary-contrastText);
  --destructive: var(--mui-palette-error-main);
  --destructive-foreground: var(--mui-palette-error-contrastText);
  --border: var(--mui-palette-divider);
  --input: var(--mui-palette-background-paper);
  --ring: var(--mui-palette-primary-main);
  --chart-1: var(--mui-palette-bases-C-main);
  --chart-2: var(--mui-palette-bases-A-main);
  --chart-3: var(--mui-palette-bases-G-main);
  --chart-4: var(--mui-palette-insertion);
  --chart-5: var(--mui-palette-bases-T-main);
  --radius: 4px;
  --sidebar: var(--mui-palette-background-paper);
  --sidebar-foreground: var(--mui-palette-text-primary);
  --sidebar-primary: var(--mui-palette-primary-main);
  --sidebar-primary-foreground: var(--mui-palette-primary-contrastText);
  --sidebar-accent: var(--mui-palette-tertiary-main);
  --sidebar-accent-foreground: var(--mui-palette-tertiary-contrastText);
  --sidebar-border: var(--mui-palette-divider);
  --sidebar-ring: var(--mui-palette-primary-main);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
