@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
                  --color-background: var(--mui-palette-background-paper);
                  --color-foreground: var(--mui-palette-text-primary);
                        --color-card: var(--mui-palette-background-paper);
             --color-card-foreground: var(--mui-palette-text-primary);
                     --color-popover: var(--mui-palette-background-paper);
          --color-popover-foreground: var(--mui-palette-text-primary);
                     --color-primary: var(--mui-palette-primary-main);
          --color-primary-foreground: var(--mui-palette-primary-contrastText);
                   --color-secondary: var(--mui-palette-secondary-main);
        --color-secondary-foreground: var(--mui-palette-secondary-contrastText);
                       --color-muted: var(--mui-palette-divider);
            --color-muted-foreground: var(--mui-palette-text-secondary);
                      --color-accent: var(--mui-palette-tertiary-main);
           --color-accent-foreground: var(--mui-palette-tertiary-contrastText);
                 --color-destructive: var(--mui-palette-error-main);
      --color-destructive-foreground: var(--mui-palette-error-contrastText);
                      --color-border: var(--mui-palette-divider);
                       --color-input: var(--mui-palette-divider);
                        --color-ring: var(--mui-palette-primary-main);
                     --color-chart-1: var(--mui-palette-bases-C-main);
                     --color-chart-2: var(--mui-palette-bases-A-main);
                     --color-chart-3: var(--mui-palette-bases-G-main);
                     --color-chart-4: var(--mui-palette-insertion);
                     --color-chart-5: var(--mui-palette-bases-T-main);
                         --radius-sm: 0px;
                         --radius-md: 2px;
                         --radius-lg: 4px;
                         --radius-xl: 8px;
                     --color-sidebar: var(--mui-palette-background-paper);
          --color-sidebar-foreground: var(--mui-palette-text-primary);
             --color-sidebar-primary: var(--mui-palette-primary-main);
  --color-sidebar-primary-foreground: var(--mui-palette-primary-contrastText);
              --color-sidebar-accent: var(--mui-palette-tertiary-main);
   --color-sidebar-accent-foreground: var(--mui-palette-tertiary-contrastText);
              --color-sidebar-border: var(--mui-palette-divider);
                --color-sidebar-ring: var(--mui-palette-primary-main);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
